#comments,
#respond,
.commentlist {
  @extend .container-small;
}

.commentlist > * {
  a {
    text-decoration: none;
    color: $alt-colour;
  }
}

#respond {
  .logged-in-as,
  .must-log-in {
    * {
      text-decoration: none;
      color: $alt-colour;
    }
  }
  .comment-form-comment {
    label[for="comment"] {
      display: none;
    }
    #comment {
      width: 50%;
    }
  }
}
