.post_date{
    display: inline-block;
    color: $alt-colour;
}

.cat{
    color: #666;
    text-transform: uppercase;
    font-size: 0.9em;
    display: inline-block;
}

.cat a{
    padding: 5px 7px;
    color: #666;
    text-decoration: none;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.cat a:hover{
    color: $black;
    background-color: $alt-colour;
    border: 1px solid $black;
}
    
.prev{
    float: left;
    margin-top: 20px;
}

.next{
    float: right;
    margin-top: 20px;
}

.prev p,
.next p{
    vertical-align: middle;
    display: inline-block;
}

.prev a,
.next a{
    text-decoration: none;
    color: $black;
}

.prev a svg,
.next a svg{
    width: 20px;
}

.prev a:hover,
.next a:hover{
    color: $alt-colour;
}