#gallery {
  * {
    box-sizing: border-box;
  }

  .slider {
    width: 100%;
    height: 50%;
    text-align: center;
    overflow: hidden;
  }

  .slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;

    &::-webkit-scrollbar {
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: $alt-colour;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    div {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 100vw;
      height: 50vh;
      margin-right: 50px;
      border-radius: 10px;
      background: white;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 100px;
      .img {
        height: 100%;
        width: auto;
        overflow: hidden;
        background-size: cover;
        background-position: center;
      }
      .desc {
        position: fixed;
        bottom: 0;
        left: 0;
        max-width: 50%;
        height: 20%;
        font-size: 20px;
        background-color: rgba(43, 43, 43, 0.45);
        color: #fff;
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .slider {
    a {
      display: inline-flex;
      width: 1.5rem;
      height: 1.5rem;
      background: $alt-colour;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      margin: 0 0 0.5rem 0;
      position: relative;
    }
      
    a:active{
      background: $black;
    }
  }
}
