html {
  $browser-default-font-size: 16px;
  font-family: $body-font;
  font-size: $base-font-size / $browser-default-font-size * 1em;
  @include mobile {
    font-size: $base-font-size-mobile / $browser-default-font-size * 1em;
  }
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    margin: 0;
    font-size: map-get($heading-font-sizes, h#{$i});
    line-height: map-get($heading-line-heights, h#{$i});
    @include mobile {
      font-size: map-get($heading-font-sizes-mobile, h#{$i});
      line-height: map-get($heading-line-heights-mobile, h#{$i});
    }
  }
}